body {
    font-family: Arial, sans-serif;
    margin: 2vmin;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 2vmin;
}

select {
    font-size: 2.2vmin;
    margin: 0.5vmin;
    padding: 1vmin 2vmin;
    border-radius: 1.5vmin;
    background-color: #052844;
    color: #fffbea;
    cursor: pointer;
}

button {
    font-size: 1.6vmin;
    margin: 0.5vmin;
    padding: 1vmin 2vmin;
    border-radius: 1.5vmin;
    background-color: #fffbea;
    cursor: pointer;
}

button:hover {
    background-color: #f7f1db;
}

input[type="submit"] {
    font-size: 2.0vmin;
    margin: 0.5vmin;
    padding: 1vmin 2vmin;
    border-radius: 1.5vmin;
    background-color: #fffbea;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f7f1db;
}

h1 {
    margin-bottom: 2vmin;
}

.participant-selector {
    display: inline-block;
    margin-bottom: 1vmin;
}

.participant-button {
    font-size: 1.6vmin;
    margin: 0.5vmin;
    padding: 1vmin 2vmin;
    border: none;
    border-radius: 0.5vmin;
    cursor: pointer;
}

.participant-button:hover {
    background-color: #ddd;
}