.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2vw;
    background-color: #8a838346;
    border-radius: 2vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
    position: relative;
}

.instructions, .participant-data-collection, .plan-your-walk, .micro-incentive-collector {
    margin-bottom: 4vw;
}

.instructions h2, .participant-data-collection h2, .plan-your-walk h2, .micro-incentive-collector h2 {
    margin-bottom: 2vw;
}

select, input {
    display: block;
    margin-bottom: 2vw;
    max-width: max-content;
    border-radius: 1vw;
    padding: .4vw;
}

/* for the input named "submit */
input[type=submit] {
    background-color: #007bff;
    color: #fff;
    border:#000000;
    padding: 1vw 1vw;
    cursor: pointer;
    border-radius: 1vw;
}

label {
    display: block;
    margin-bottom: 2vw;
    width: 100%;
    font-size: 2vw; /* Increase font size for emphasis */
    color: #007bff; /* Fun and vibrant color */
    font-weight: bold; /* Make the text bold */
    letter-spacing: 0.1vw; /* Add some letter spacing */
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1vw 1vw;
    cursor: pointer;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

button:hover {
    background-color: #0056b3;
}

.small-text {
    font-size: 2vw;
    color: #777;
}

h1 {
    text-align: center;
    margin-bottom: 4vw;
}

h2 {
    /* underline the whole area */
    border-bottom: 0.2vw solid #000000;
    padding-bottom: 0.5vw;
    margin-bottom: 2vw;

}

.pointsResult {
    font-size: 2vw;
    color: #007bff;
    font-weight: bold;
    letter-spacing: 0.1vw;
    padding-top: 1vw;
}

li {
    margin-bottom: 1vw;
    
}

.signout {
    text-align: center;
    margin-top: 2vw;
}