body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 6vmin;
    margin: 0;
    text-align: center;
    font-size: 5vmin;
}

.container {
    max-width: 800px;
    margin: 2vmin auto;
    padding: 4vmin;
    background-color: #fff;
    border-radius: 2vmin;
    box-shadow: 0 2vmin 4vmin rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-top: 4vmin;
    font-size: 3vmin;
}

p {
    margin: 1vmin 0;
    font-size: 2vmin;
}

#point-chart {
    max-width: 100%;
}

.logout {
    text-align: center;
    margin-top: 4vmin;
}

.logout a {
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    padding: 2vmin 4vmin;
    border-radius: 1vmin;
    font-size: 2vmin;
}

.logout a:hover {
    background-color: #c0392b;
}

/* This media query targets screens with a maximum width of 767 pixels (typical for mobile devices) */
@media (max-width: 767px) {
    .fc-view-container {
        display: block;
    }

    .fc-scroller.fc-time-grid-container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .fc-time-grid {
        min-width: 600px;
    }
}

.instructions,
.participant-data-collection,
.plan-your-walk,
.micro-incentive-collector,
.health-tip-container {
    margin-bottom: 4vw;
}

.instructions h2,
.participant-data-collection h2,
.plan-your-walk h2,
.micro-incentive-collector h2,
.health-tip-container h2 {
    margin-bottom: 2vw;
}

select,
input {
    display: block;
    margin-bottom: 2vw;
    max-width: max-content;
    border-radius: 1vw;
    padding: .4vw;
}

input[type=submit] {
    background-color: #007bff;
    color: #fff;
    border: #000000;
    padding: 1vw 1vw;
    cursor: pointer;
    border-radius: 1vw;
}

label {
    display: block;
    margin-bottom: 2vw;
    width: 100%;
    font-size: 2vw;
    color: #007bff;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1vw 1vw;
    cursor: pointer;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

button:hover {
    background-color: #0056b3;
}

.small-text {
    font-size: 2vw;
    color: #777;
}

.pointsResult {
    font-size: 2vw;
    color: #007bff;
    font-weight: bold;
    letter-spacing: 0.1vw;
    padding-top: 1vw;
}

li {
    margin-bottom: 1vw;
}

.logout a {
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    padding: 2vmin 4vmin;
    border-radius: 1vmin;
    font-size: 2vmin;
}

.logout a:hover {
    background-color: #c0392b;
}
