body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmin;
}

.login-container {
    background-color: #fff;
    border-radius: 5vmin;
    box-shadow: 0 2vmin 4vmin rgba(0, 0, 0, 0.1);
    padding: 2vmin;
    max-width: 40vmin;
    max-height : 40vmin;
    width: 100%;
}

h1 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 4vmin;
    margin-right: 4vmin;
}

label {
    display: block;
    margin-bottom: 1vmin;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.8vmin;
    border: 0.1vmin solid #ccc;
    border-radius: 0.4vmin;
}

button {
    width: 100%;
    padding: 1vmin;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 0.4vmin;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.error-message {
    color: #e74c3c;
    font-size: 1.4vmin;
    text-align: center;
}
