/* login.css */
body {
    font-family: Arial, sans-serif;
}

.error-message {
    background-color: red;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1vmin;
    display: none;
    width: 30vmin;
    border-radius: 10vmin;
    margin-top: 2vmin;
    position:relative;

}

button[type="submit"] {
    background-color: #007bff; /* Normal state color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition for hover effect */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Color on hover */
}

button[type="submit"]:active {
    background-color: #003d6a; /* Color when clicked */
}



/* Add more styles as needed */
